[tools]
golang = "1.24"
golangci-lint = "2.9.0"
nodejs = "22.14.0"
watchexec = "latest"
sqlc = "latest"

[tasks.ci]
depends = ['build-assets', 'test', 'lint-ci']

[tasks.npm-install]
hide = true
run = "npm ci"

[tasks.test]
depends = ['build-assets']
dir = "mqtt"
run = "go test -v ./..."

[tasks.lint]
depends = ['eslint', 'prettier', 'golangci-lint']

[tasks.lint-ci]
depends = ['eslint', 'prettier-check', 'golangci-lint']

[tasks.eslint]
depends = ['npm-install']
run = "node_modules/.bin/eslint src/"

[tasks.golangci-lint]
depends = ['build-assets']
dir = "mqtt"
run = "golangci-lint run ./..."

[tasks.prettier]
depends = ['npm-install']
run = "node_modules/.bin/prettier src/ --write"

[tasks.prettier-check]
hide = true
depends = ['npm-install']
run = "node_modules/.bin/prettier src/ --check"

[tasks.sqlc]
dir = "mqtt"
run = "sqlc generate"

[tasks.build]
depends = ['build-assets']
env = { CGO_ENABLED = '0', GOOS = 'linux', GOARCH = 'amd64' }
dir = "mqtt"
run = "go build -ldflags '-w' -o mqtt ."

[tasks.build-release]
depends = ['build-assets']
dir = "mqtt"
run = """
CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags '-w -s' -o mqtt-linux-amd64 .
CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -ldflags '-w -s' -o mqtt-linux-arm64 .
"""

[tasks.build-assets]
hide = true
depends = ['npm-install']
run = "npm run build"

[tasks.run]
depends = ['build-assets']
sources = [
  'mqtt/**/*.{tmpl,go}',
  'src/**/*',
  'package-lock.json',
]
dir = "mqtt"
run = "go run ."

[tasks.watch]
run = "mise watch -r run"
