name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"
          cache-dependency-path: mqtt/go.sum

      - name: Build
        run: go build -v ./...
        working-directory: mqtt

      - name: Run tests
        run: go test -v ./...
        working-directory: mqtt

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.5.0
          working-directory: mqtt
          skip-pkg-cache: true
