name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install mise
        run: curl https://mise.run | sh && echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install mise tools
        run: mise install

      - name: Run CI
        run: mise run ci
